@using System.Security.Claims
@using System.Threading.Tasks
@using GearShopV2.Models
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Identity.EntityFrameworkCore

@inject SignInManager<ApplicationUser> SignInManager
@inject IAuthorizationService AuthorizationService
@inject UserManager<ApplicationUser> UserManager



<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Closeout Gear</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />

        <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/css/site.css" />
        <script src="~/lib/jquery/core.js"></script>
        <script src="~/lib/jquery/dist/jquery.js"></script>



    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    </environment>
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/lib/jquery/core.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>

</head>


<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand small" asp-area="" asp-controller="Home" asp-action="Index"><img src="https://i.pinimg.com/originals/9d/d4/60/9dd46051b9002afdc13fec7161fb2ec9.png" width="50" /></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item small">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Jerseys" asp-action="Index">Jerseys</a>
                        </li>
                        <li class="nav-item small">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Pants" asp-action="Index">Pants</a>
                        </li>
                        <li class="nav-item small">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Helmets" asp-action="Index">Helmets</a>
                        </li>
                        <li class="nav-item small">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="ContactUs">Rate Us</a>
                        </li>
                        <li class="nav-item small">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Contacts">Reviews</a>
                        </li>



                        @if (User.IsInRole("Admin"))
                        {
                            <div class="dropdown">
                                <button type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown">
                                    Admin
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-area="" asp-controller="Admin" asp-action="UserManagement">Users</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Admin" asp-action="AddUser">Add User</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Admin" asp-action="HelmetAdmin">Helmets</a>
                                </div>
                            </div>
                        }





                    </ul>
                </div>
            </div>
        </nav>
    </header>


    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <br /><br />

    <footer class="border-top footer text-muted">
        <div class="container">
            <a href="mailto:Support@contoso.com">Contact Us</a>

            &copy; 2019 - Gear Closeout
        </div>
    </footer>




    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
