

<h1 class="display-4 text-center">Closeout Gear!!</h1>
<div class="row">

    <div class="col">
        NEWS:
        <p>Application maintained by the <abbr title="Fast Coding Ferrets">FCF</abbr> in Texas </p>
        <div class="container">
           
            <dl>
                <dt>Jerseys</dt>
                <dd>-Fox</dd>
                <dd>-Thor</dd>
                <dd>-Answer</dd>
                <dt>Pants</dt>
                <dd>-Thor</dd>
                <dd>-Moose</dd>
                <dd>-MSR</dd>
                <dt>Helmets</dt>
                <dd>Troy Lee</dd>
                <dd>Fox</dd>
                <dd>Answer</dd>
            </dl>
        </div>



    </div>
    <div class="col">
        PROMOTIONS: These products <mark>MUST GO!!!</mark>
        



    </div>
       

    <div class="col">
        LINKS AND STUFF:

    </div>
</div>
