

<h1 class="myHeaders">Closeout Gear!!</h1>
<div class="row">

    <div class="col">
        NEWS:
        <p>Application maintained by the <abbr title="Fast Coding Ferrets">FCF</abbr> in Texas </p>
        <div class="container">
            <dl>
                <dt>Jerseys</dt>
                <dd>-Fox</dd>
                <dd>-Thor</dd>
                <dd>-Answer</dd>
                <dt>Pants</dt>
                <dd>-Thor</dd>
                <dd>-Moose</dd>
                <dd>-MSR</dd>
                <dt>Helmets</dt>
                <dd>Troy Lee</dd>
                <dd>Fox</dd>
                <dd>Answer</dd>
            </dl>
        </div>


    </div>

    @*<form method="post" enctype="multipart/form-data" asp-controller="UploadFiles" asp-action="Index">
        <div class="form-group">
            <div class="col-md-10">
                <p>Upload one or more files using this form:</p>
                <input type="file" name="files" multiple>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Upload">
            </div>
        </div>
    </form>*@





<div class="col">
    <button class="btn btn-outline-danger">
        <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="AddUser">Add User</a>
    </button>
    <button class="btn btn-outline-danger">
        <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="UserManagement">Users</a>
    </button>
    <br />
    <br />
    


    
    <div class="card-columns">
        <div class="card bg-primary">
            <div class="card-body text-center">
                <p class="card-text">Yamaha</p>
            </div>
        </div>
        <div class="card bg-warning">
            <div class="card-body text-center">
                <p class="card-text">Suzuki</p>
            </div>
        </div>
        <div class="card bg-success">
            <div class="card-body text-center">
                <p class="card-text">Kawasaki</p>
            </div>
        </div>
        <div class="card bg-danger">
            <div class="card-body text-center">
                <p class="card-text">Honda</p>
            </div>
        </div>
        <div class="card bg-light">
            <div class="card-body text-center">
                <p class="card-text">Husqvarna</p>
            </div>
        </div>
        <div class="card bg-info">
            <div class="card-body text-center">
                <p class="card-text"></p>
            </div>
        </div>
    </div>




</div>


    <div class="col">
        
        <div class="container">

            </div>
            <br>


        </div>

    </div>
</div>
