

<h1 class="myHeaders">Closeout Gear!!</h1>
<div class="row">

    <div class="col-4">
        <p>Web Application designed and maintained by the <b><abbr title="Fast Coding Ferrets">FCF</abbr></b> in Houston, Texas </p>
        <div class="container">
            
            <dl>
                <dt>Jerseys</dt>
                <dd>Fox</dd>
                <dd>Thor</dd>
                <dd>MSR</dd>
                <dd>Answer</dd>
                <dt>Pants</dt>
                <dd>Thor</dd>
                <dd>Moose</dd>
                <dd>Fox</dd>
                <dd>MSR</dd>
                <dt>Helmets</dt>
                <dd>Troy Lee</dd>
                <dd>Fox</dd>
                <dd>Bell</dd>
                <dd>Answer</dd>
            </dl>
        </div>


    </div>

    @*<form method="post" enctype="multipart/form-data" asp-controller="UploadFiles" asp-action="Index">
            <div class="form-group">
                <div class="col-md-10">
                    <p>Upload one or more files using this form:</p>
                    <input type="file" name="files" multiple>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <input type="submit" value="Upload">
                </div>
            </div>
        </form>*@





<div class="col">
    <button class="btn btn-outline-danger">
        <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="AddUser">Add User</a>
    </button>
    <button class="btn btn-outline-danger">
        <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="EditUser">Edit User</a>
    </button>
    <button class="btn btn-outline-danger">
        <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="UserManagement">Users</a>
    </button>
    <br />
    <br />




    <div class="card-columns">
        <div class="card bg-primary">
            <div class="card-body text-center">
                <p class="card-text">Yamaha</p>
            </div>
        </div>
        <div class="card bg-warning">
            <div class="card-body text-center">
                <p class="card-text">Suzuki</p>
            </div>
        </div>
        <div class="card bg-success">
            <div class="card-body text-center">
                <p class="card-text">Kawasaki</p>
            </div>
        </div>
        <div class="card bg-danger">
            <div class="card-body text-center">
                <p class="card-text">Honda</p>
            </div>
        </div>
        <div class="card bg-light">
            <div class="card-body text-center">
                <p class="card-text">Husqvarna</p>
            </div>
        </div>
        <div class="card bg-info">
            <div class="card-body text-center">
                <p class="card-text">Alta</p>
            </div>
        </div>
    </div>

        <div class="container">
            <div id="accordion">
                <div class="card">
                    <div class="card-header">
                        <a class="card-link" data-toggle="collapse" href="#collapseOne">
                            Why Choose Us
                        </a>
                    </div>
                    <div id="collapseOne" class="collapse show" data-parent="#accordion">
                        <div class="card-body">
                            We are veteran owned and operated and allthough we are a new startup company we do our best to match/beat any and all our competitors prices and will allways be there for all you customer concern and needs
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
                            Our Story
                        </a>
                    </div>
                    <div id="collapseTwo" class="collapse" data-parent="#accordion">
                        <div class="card-body">
                            Derived out of a garage in Houston TX, with one goal and vision to be a sucesful E-Commerce website for all your motocross needs and wants
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
                            Our Promise
                        </a>
                    </div>
                    <div id="collapseThree" class="collapse" data-parent="#accordion">
                        <div class="card-body">
                            We promise to stand by our product and warranty everything for the initial 30 days because we believe in all the products we carry and would not sell any items that we would or do not personally use
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>


    <div class="col">





        <br>


    </div>

</div>
</div>
