

<h1 class="display-4 text-center">Closeout Gear!!</h1>
<div class="row">

    <div class="col">
        NEWS:
        <p>Application maintained by the <abbr title="Fast Coding Ferrets">FCF</abbr> in Texas </p>
        <div class="container">

            <dl>
                <dt>Jerseys</dt>
                <dd>-Fox</dd>
                <dd>-Thor</dd>
                <dd>-Answer</dd>
                <dt>Pants</dt>
                <dd>-Thor</dd>
                <dd>-Moose</dd>
                <dd>-MSR</dd>
                <dt>Helmets</dt>
                <dd>Troy Lee</dd>
                <dd>Fox</dd>
                <dd>Answer</dd>
            </dl>
        </div>


    </div>
    <div class="col">
        PROMOTIONS: These products <mark>MUST GO!!!</mark>
                                   <div class="card-columns">
                                       <div class="card bg-primary">
                                           <div class="card-body text-center">
                                               <p class="card-text">Some text</p>
                                           </div>
                                       </div>
                                       <div class="card bg-warning">
                                           <div class="card-body text-center">
                                               <p class="card-text">Some text</p>
                                           </div>
                                       </div>
                                       <div class="card bg-success">
                                           <div class="card-body text-center">
                                               <p class="card-text">Some text</p>
                                           </div>
                                       </div>
                                       <div class="card bg-danger">
                                           <div class="card-body text-center">
                                               <p class="card-text">Some text</p>
                                           </div>
                                       </div>
                                       <div class="card bg-light">
                                           <div class="card-body text-center">
                                               <p class="card-text">Some text</p>
                                           </div>
                                       </div>
                                       <div class="card bg-info">
                                           <div class="card-body text-center">
                                               <p class="card-text">Some text</p>
                                           </div>
                                       </div>
                                   </div>



    </div>
       

    <div class="col">
        LINKS AND STUFF:
        <div class="container">
            <h4 class="text-center">Creater</h4>
            <div class="card" style="width:300px">
                <img class="card-img-top" src="https://www.w3schools.com/bootstrap4/img_avatar1.png" alt="Card image" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title">Chris</h4>
                    <p class="card-text">Chris was born in America where he had a strong interest in racing as a child. However, after injuries decided to go to the military instead.</p>
                    <!--<a href="#" class="btn btn-primary">See Profile</a>-->
                </div>
            </div>
            <br>


        </div>

    </div>
</div>
