@model GearShopV2.Models.Jersey

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Jersey</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="JBrand" class="control-label"></label>
                <input asp-for="JBrand" class="form-control" />
                <span asp-validation-for="JBrand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JModel" class="control-label"></label>
                <input asp-for="JModel" class="form-control" />
                <span asp-validation-for="JModel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JColor" class="control-label"></label>
                <input asp-for="JColor" class="form-control" />
                <span asp-validation-for="JColor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JSize" class="control-label"></label>
                <input asp-for="JSize" class="form-control" />
                <span asp-validation-for="JSize" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JPrice" class="control-label"></label>
                <input asp-for="JPrice" class="form-control" />
                <span asp-validation-for="JPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JSalePrice" class="control-label"></label>
                <input asp-for="JSalePrice" class="form-control" />
                <span asp-validation-for="JSalePrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JQtyOnHand" class="control-label"></label>
                <input asp-for="JQtyOnHand" class="form-control" />
                <span asp-validation-for="JQtyOnHand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

